<div class="calculate-wrapper">
    <div class="form-wrapper">
        <form class="calculate-form">
            <div class="form-item">
                <input id="weight" type="text" placeholder="წონა">
            </div>
            <div class="form-item">
                <input id="height" type="text" placeholder="სიმაღლე">
            </div>
            <div class="form-item">
                <input id="height" type="text" placeholder="ასაკი">
            </div>
            <div class="form-item">
                <label for="height">სქესი:</label>
                <input type="radio" id="male" name="gender" value="male">
                <input type="radio" id="female" name="gender" value="female">
            </div>
        </form>
    </div>
</div>