<div class="calculate-wrapper">

    <div class="form-wrapper">
        <!-- <div class="info">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit itaque vero repellat minus assumenda
                accusamus fugit libero atque, debitis velit?</p>
        </div> -->

        <form class="calculate-form" autocomplete="off">
            <h1>კალკულატორი მასის ინდექსის</h1>

            <div class="form-item">
                <input id="weight" type="text" placeholder="წონა">
            </div>
            <div class="form-item">
                <input id="height" type="text" placeholder="სიმაღლე">
            </div>
            <div class="form-item">
                <input id="height" type="text" placeholder="ასაკი">
            </div>
            <div class=" radio">
                <label for="height">სქესი:</label>
                <input type="radio" id="male" name="gender" value="male">
                <input type="radio" id="female" name="gender" value="female">
            </div>
        </form>

    </div>
</div>